{% extends 'layout.html' %}

{% load static %}

{% block title %}IISM Catalog{% endblock %}

{% block content %}
    <h1>Catalog of laboratory work</h1>

    {% if lab_apps %}
        <div class="lab-list">
            {% for lab in lab_apps %}
                <a href="{{ lab.url }}" class="lab-link">
                    {{ lab.display_name }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">Пока нет доступных лабораторных работ.</p>
    {% endif %}
{% endblock %}